@media (min-width:576px) {
  .container {
       max-width: 800px;
   }
}

@media (max-width:575px) {
   .container {
        max-width: 350px;
    }
}
h6 {
  font-size: 17px;
}
a, a:hover {
  color: #0066cc
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.progress-container {
  width: 100%;
  height: 5px;
  background:  whitesmoke;
}
.progress-bar {
  height: 5px;
  background: #258745;
  width: 0%;
}