@media (min-width:576px) {
  .container {
       max-width: 800px;
   }
}

@media (max-width:575px) {
   .container {
        max-width: 350px;
    }
}

h6 {
  font-size: 17px;
}
a, a:hover {
  color: #0066cc
}
.progress {
  left: 0;
  top: 0;
  width: 0;
  height: 2px;
  background-color: #258745;
  position: fixed;
  z-index: 2;
  animation: width 10ms ease-in;
}